/* Body, Html, Text  */

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}


/* Headings */
.big-heading {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 7% 15%;
}


/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}


.white-section {
  background-color: #fff;
}


/* Buttons */
.download {
  margin: 5% 3% 5% 0;
}


/* Navbar */
.navbar-brand {
  /* font-size: 2.5rem; */
  /* font-weight: 700; */
  font-family: Ubuntu;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Title section  */
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.title-row {
  margin-top: 75px;
}

.dogphone-container {
  position: relative;
}

.dogphone {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Essentially a conditional statement for CSS */
/* If the width of the screen/device falls below 1000px, the dog phone goes upright and aligns itself below the title */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .dogphone {
    position: static;
    transform: rotate(0);
  }
}


/* Features section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.feature-box {
  padding: 4.5%;
}

.feature-row i {
  margin-bottom: 1rem;
  color: #ef8172;
}

.feature-row i:hover {
  color: #ff4c68;
}


/* Testimonial section  */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing section  */
#pricing {
  padding: 100px;
}

.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.card-header h3 {
  font-weight: bold;
}

#pricing .row {
  margin-top: 3%;
}

.pricing-column {
  padding: 3% 2%;
}


/* CTA section */
.cta-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
}


/* Footer */
.social-icon {
  margin: 20px 10px;
}
